@font-face {
    font-family: 'Control Upright';
    src: url('ControlUpright-RegularTNT.woff2') format('woff2'),
        url('ControlUpright-RegularTNT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Control Upright';
    src: url('ControlUpright-LightTNT.woff2') format('woff2'),
        url('ControlUpright-LightTNT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

